[client]
port=3306
socket=/home/mariadb-user/mariadb/columnstore/mysql/lib/mysql/mysql.sock
user=root
password=1

[mysqld]
port=3306
socket=/home/mariadb-user/mariadb/columnstore/mysql/lib/mysql/mysql.sock

